:root {
     --cor-de-fundo: rgb(214, 187, 33);
     --cor-cabecalho:rgb(184, 29, 29);
     --fundo-menu:rgb(153, 119, 26);

}
  body {
    background-color: var(--cor-de-fundo);
  }
   
h1 {
    background-color: rgb(206, 130, 15);
}
 .cabecalho {
   background-color: var(--cor-cabecalho);
 }
.cabecalho-titulo {
   font-size: 36px;
   font-weight: 700;
   padding: 12px;
   text-align: center;
}
 .cabecalho-menu-item {
  display: block;
  padding: 10px;
  font-size: 24px;
  text-decoration: none;
  text-align: center;
  border-top: 1px solid;
 }
 